<div class="container" style="padding-bottom: 80px">
    <div class="py-5 row">
      <div class="col-md-12 mb-3" *ngIf="orderType != 'Dine In' && orderType != 'Take Home'">
        <div>
          <div
            class="osahan-cart-item mb-3 rounded shadow-sm bg-white overflow-hidden"
          >
            <div class="osahan-cart-item-profile bg-white p-3">
              <div class="d-flex flex-column">
                <h6 class="mb-3 font-weight-bold">Delivery Address</h6>
                <input type="text" class="form-control" name="address" [(ngModel)]="address" placeholder="Enter delivery address">
                
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <div class="col-md-12">
        <div
          class="osahan-cart-item rounded rounded shadow-sm overflow-hidden bg-white sticky_sidebar"
        >
          <div
            class="d-flex border-bottom osahan-cart-item-profile bg-white p-3"
          >
            <img
            *ngIf="user?.photo"
              [src]="user.photo"
              style="max-width: 65px;max-height:65px"
              class="mr-3 rounded-circle img-fluid"
            />
            <img
            *ngIf="!user?.photo"
              src="../../assets/img/default.jpg"
              style="max-width: 65px;max-height:65px"
              class="mr-3 rounded-circle img-fluid"
            />
            <div class="d-flex flex-column">
              <h6 class="mb-1 font-weight-bold">{{ user?.companyName }}</h6>
              <p class="mb-0 small text-muted" *ngIf="user?.address1">
                <i class="feather-map-pin"></i> {{ user?.address1 }},
                {{ user?.address2 }}, {{ user?.city }} {{ user?.zip }}
              </p>
              <p class="mb-0 small text-muted" *ngIf="!user?.address1">
                <i class="feather-map-pin"></i>
                  Address not available!
              </p>
              <p class="mb-0 small text-muted">
                <i class="feather-phone"></i> {{ user?.mobileNumber }}
              </p>
            </div>
          </div>
          <div class="bg-white py-2">
            <div
              class="gold-members d-flex align-items-center justify-content-between px-3 py-2 border-bottom"
              *ngFor="let item of cart"
            >
              <div class="media align-items-center">
                <div class="media-body">
                  <p class="m-0" style="max-width: 120px;">{{ item.name }} ({{getName(item)}})</p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <span class="count-number float-right">
                  <button type="button" class="btn-sm left dec btn btn-outline-secondary" (click)="decrease(item)"> 
                    <i class="feather-minus"></i> </button>
                    <input class="count-number-input" type="text" readonly="" [value]="item.quantity">
                    <button type="button" class="btn-sm right inc btn btn-outline-secondary"> 
                      <i class="feather-plus" (click)="increase(item)"></i> </button></span>
                <p class="text-gray mb-0 float-right ml-2 text-muted small">
                  <i class="fa fa-inr"></i>
                  {{ getFinalPrice(item) }}
                </p>
                <button type="button" class="btn-sm left dec btn btn-outline-secondary" style="margin-left: 5px;" (click)="delete(item)"><i class="fa fa-trash"></i></button>
              </div>
            </div>
          </div>
          <div class="bg-white p-3 clearfix border-bottom">
            <p *ngIf="cart.length > 0" class="mb-1">
              Item Total
              <span class="float-right text-dark"
                ><i class="fa fa-inr"></i>{{ total }}</span
              >
            </p>
            <p *ngIf="cart.length == 0" class="mb-1">
              Cart is empty, Add an item to the cart to continue!
            </p>
          </div>
          <div class="p-3" *ngIf="cart.length > 0">
            <a *ngIf="orderToEdit === null" class="btn btn-success btn-block btn-lg" (click)="complete()"
              >Place Order<i class="feather-arrow-right"></i
            ></a>
            <a *ngIf="orderToEdit !== null" class="btn btn-success btn-block btn-lg" (click)="update()"
              >Update Order<i class="feather-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>