<footer class="section-footer border-top bg-dark">
  <div class="container">
    <section class="footer-top padding-y py-5">
      <div class="row">
        <aside class="col-md-6 footer-about">
          <article class="d-flex pb-3">
            <div>
              <img
                [src]="config.appFooter"
                class="logo-footer mr-3"
                style="background: none; height: 100px"
              />
            </div>
            <div>
              <h6 class="title text-white">About Us</h6>
              <p class="text-muted">
                ScanKar is all in one solution for any product or servicesbased business which serves directly to their End customers.
              </p>
              <div class="d-flex align-items-center">
                <a
                  class="btn btn-icon btn-outline-light mr-1 btn-sm"
                  title="Facebook"
                  target="_blank"
                  ><i class="feather-facebook" style="color:#fff"></i
                ></a>
                <a
                  class="btn btn-icon btn-outline-light mr-1 btn-sm"
                  title="Instagram"
                  target="_blank"
                  ><i class="feather-instagram" style="color:#fff" ></i
                ></a>
                <a
                  class="btn btn-icon btn-outline-light mr-1 btn-sm"
                  title="Youtube"
                  target="_blank"
                  ><i class="feather-youtube" style="color:#fff"></i
                ></a>
                <a
                  class="btn btn-icon btn-outline-light mr-1 btn-sm"
                  title="Twitter"
                  target="_blank"
                  ><i class="feather-twitter"style="color:#fff" ></i
                ></a>
              </div>
            </div>
          </article>
        </aside>
        <aside class="col-md-2 text-white">
          <h6 class="title">Services</h6>
          <ul class="list-unstyled hov_footer">
            <li><a class="text-muted">Delivery Support</a></li>
            <li><a class="text-muted">Contact Us</a></li>
            <li><a class="text-muted">Terms of use</a></li>
            <li>
              <a class="text-muted">Privacy policy</a>
            </li>
          </ul>
        </aside>
        <aside class="col-md-2 text-white">
          <h6 class="title">For users</h6>
          <ul class="list-unstyled hov_footer">
            <li><a class="text-muted"> User Login </a></li>
            <li>
              <a class="text-muted"> User register </a>
            </li>
            <li>
              <a class="text-muted"> Forgot Password </a>
            </li>
            <li>
              <a class="text-muted"> Account Setting </a>
            </li>
          </ul>
        </aside>
        <aside class="col-md-2 text-white">
          <h6 class="title">More Pages</h6>
          <ul class="list-unstyled hov_footer">
            <li><a class="text-muted"> Trending </a></li>
            <li>
              <a class="text-muted"> Most popular </a>
            </li>
            <li>
              <a class="text-muted"> Restaurant Details </a>
            </li>
            <li><a class="text-muted"> Favorites </a></li>
          </ul>
        </aside>
      </div>
      <!-- row.// -->
    </section>
    <!-- footer-top.// -->
  </div>
  <!-- //container -->
  <section class="footer-copyright border-top py-3 bg-light">
    <div class="container d-flex align-items-center">
      <p class="mb-0">© 2020 Scankar All rights reserved</p>
      <p class="text-muted mb-0 ml-auto d-flex align-items-center">
        <a class="d-block"
          ><img alt="#" src="../../../assets/img/appstore.png" height="40"
        /></a>
        <a class="d-block ml-3"
          ><img alt="#" src="../../../assets/img/playmarket.png" height="40"
        /></a>
      </p>
    </div>
  </section>
</footer>