<div class="container-fluid p-0">
  <mat-drawer-container class="example-container" [hasBackdrop]="backdrop">
    <mat-drawer #drawer [mode]="mode" [opened]="opened">
          <nav id="main-nav">
             <a class="brand-wrap mb-0">
            <img class="img-fluid" [src]="config.appLogo" />
          </a>
            <ul class="second-nav">
              <li *ngFor="let item of links">
                  <a
                    routerLink="{{ item.link }}"
                    routerLinkActive="is-active"
                    (click)="drawer.toggle()"
                  >
                    <i class="{{item.icon}} mr-2"></i> {{ item.text }}
                  </a>
              </li>
              <li>
                  <a
                    (click)="logout()"
                    class="nav-item"
                    tabindex="0"
                    role="menuitem"
                  >
                    <i class="feather-log-out mr-2"></i> Logout
                  </a>
              </li>
            </ul>
            <ul class="bottom-nav">
            <li class="email">
                <a class="text-danger" routerLink="categories" (click)="drawer.toggle()" >
                    <p class="h5 m-0"><i class="feather-home text-danger"></i></p>
                    <span>Home</span>
                </a>
            </li>
            <li class="github">
                <a routerLink="faq" (click)="drawer.toggle()">
                    <p class="h5 m-0"><i class="feather-message-circle"></i></p>
                    <span>FAQ</span>
                </a>
            </li>
            <li class="ko-fi">
                <a routerLink="help" (click)="drawer.toggle()">
                    <p class="h5 m-0"><i class="feather-phone"></i></p>
                    <span>Help</span>
                </a>
            </li>
        </ul>
          </nav>
    </mat-drawer>
    <mat-drawer-content>
      <app-header></app-header>
      <div class="osahan-home-page">
        <div class="bg-primary p-3 d-none">
          <div class="text-white">
            <div class="title d-flex align-items-center">
              <a class="toggle">
                <span></span>
              </a>
              <img
                class="img-fluid"
                [src]="config.appLogo"
                style="height: 40px"
              />
              <button
                mat-icon-button
                class="example-icon"
                style="position: absolute; right: 10px"
                (click)="drawer.toggle()"
              >
                <mat-icon>menu</mat-icon>
              </button>
            </div>
          </div>
          <div class="input-group mt-3 rounded shadow-sm overflow-hidden">
            <div class="input-group-prepend">
              <button
                class="border-0 btn btn-outline-secondary text-dark bg-white btn-block"
              >
                <i class="feather-search"></i>
              </button>
            </div>
            <input
              type="text"
              name="search"
              class="shadow-none border-0 form-control"
              placeholder="Search for dishes"
              [(ngModel)]="search"
              (ngModelChange)="changed(search)"
            />
            <div class="results" *ngIf="results.length > 0">
              <div class="listitem" *ngFor="let item of results">
                <img *ngIf="item.image !== undefined" [src]="item.image" />
                <p>{{ item.name }}</p>
                <span class="float-right"
                  ><a
                    (click)="addItem(item)"
                    class="btn btn-outline-secondary btn-sm"
                    >ADD</a
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <router-outlet></router-outlet>
          <ng-lottie *ngIf="showanim" height="500" width="100%" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
        </div>
      </div>
      <!-- Footer -->
      <app-footer></app-footer>
      <!-- footer -->
      <!-- mainfooter -->
      <app-mainfooter></app-mainfooter>
      <!-- mainfooter -->
      <!-- waiter on call button -->
      <app-callwaiter></app-callwaiter>
      <!-- waiter on call button -->
    </mat-drawer-content>
  </mat-drawer-container>
</div>
